@font-face {
    font-family: Roboto;
    /* src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
    src: url(Roboto-VariableFont_wdth,wght.ttf)
}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
body{
    box-sizing: border-box;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 15%;
    font-size: 24px;
    padding: 8px 16px;
}
.header{
    display: flex;
    flex-flow: row wrap;
    background-color: #1F2937;
    justify-content: center;
}
.title{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;
}
.links{
    list-style-type: none;
    display: flex;
    color: #E5E7EB;
    gap: 16px;
}
.top{
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
    flex-shrink: 0;
    flex-basis: 80%;
}
.hero{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 72px ;
}
#heroInfo{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 25%;
    align-items: flex-start;
}
.hero #mainText{
    font-size: 48px;
    color:  #F9FAF8;
    font-weight: 900;
}
.hero #subText{
    font-size: 18px;
    color: #E5E7EB;
}

.quote{
    background-color: #E5E7EB;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    /* margin-top: auto; */
}